DATABASE_URL="postgresql://***"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
GOOGLE_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_REDIRECT_URI=""

#Folders from Google Drive
RAPORT_FOLDER_ID=""
EXTRACT_FOLDER_ID=""
INVOICE_FOLDER_ID=""